<nav class="navbar">
  <div class="navbar-container">
    <a href="#" class="navbar-brand" routerLink="/">{{ projectName }}</a>

    <ul class="navbar-nav">
      <!-- Show when user is not logged in -->
      @if (!authService.isLoggedIn()) {
        <li><a href="#" class="nav-link" (click)="authService.login()">Login</a></li>
      }

      <!-- Show when user is logged in -->
      @if (authService.isLoggedIn()) {
        <li class="dropdown" id="userDropdown" [class.show]="isDropdownOpen">
          <button class="dropdown-toggle" (click)="toggleDropdown()">
            <div class="avatar">{{ user.initials }}</div>
            {{ user.name }}
          </button>
          <div class="dropdown-menu">
            <a href="#" class="dropdown-item" (click)="authService.logout()">Logout</a>
          </div>
        </li>
      }
    </ul>
  </div>
</nav>
