<div id="features-tab">
  <p-card>
    <p-table #dt1 [value]="features" dataKey="code">
      <ng-template #caption>
        <div class="flex items-center gap-3">
          <p-button class="font-bold" icon="pi pi-plus-circle"
                    label=" Feature"
                    *ngIf="authService.isLoggedIn()"
                    (click)="showCreateFeatureFormHandler()"
          />
          <p-button icon="pi pi-filter-slash"
                    label="Clear"
                    (click)="clearFilters(dt1)"
          />
        </div>
      </ng-template>
      <ng-template #header>
        <tr>
          <th style="min-width:10rem">
            <div class="flex items-center">
              Code
              <p-columnFilter type="text" field="code" display="menu"
                              showMatchModes="false"
                              showOperator="false"
                              matchMode="contains"
                              showApplyButton="false"
                              showClearButton="false"
                              showAddButton="false"
              />
            </div>
          </th>
          <th style="min-width:15rem">
            <div class="flex items-center">
              Title
              <p-columnFilter type="text" field="title" display="menu"
                              showMatchModes="false"
                              showOperator="false"
                              matchMode="contains"
                              showApplyButton="false"
                              showClearButton="false"
                              showAddButton="false"
              />
            </div>
          </th>
          <th style="min-width:10rem">
            <div class="flex items-center">
              Status
              <p-columnFilter type="text" field="status" display="menu"
                              showMatchModes="false"
                              showOperator="false"
                              matchMode="equals"
                              showApplyButton="false"
                              showClearButton="true"
                              showAddButton="false">
                <ng-template #filter let-value let-filter="filterCallback">
                  <p-select [options]="featureStatuses" (onChange)="filter($event.value)"
                            optionLabel="label" optionValue="value"
                            [ngModel]="value"
                            placeholder="Select One" [showClear]="true" class="w-full md:w-56" />
                </ng-template>
              </p-columnFilter>
            </div>
          </th>
          <th style="min-width:10rem">
            <div class="flex items-center">
              Release
              <p-columnFilter type="text" field="releaseCode" display="menu"
                              showMatchModes="false"
                              showOperator="false"
                              matchMode="equals"
                              showApplyButton="false"
                              showClearButton="true"
                              showAddButton="false">
                <ng-template #filter let-value let-filter="filterCallback">
                  <p-select [options]="releases()" (onChange)="filter($event.value)"
                            optionLabel="code" optionValue="code"
                            [ngModel]="value"
                            placeholder="Select One" [showClear]="true" class="w-full md:w-56" />
                </ng-template>
              </p-columnFilter>
            </div>
          </th>
          <th style="min-width:10rem">
            <div class="flex items-center">
              Assigned To
              <p-columnFilter type="text" field="assignedTo" display="menu"
                              showMatchModes="false"
                              showOperator="false"
                              matchMode="equals"
                              showApplyButton="false"
                              showClearButton="true"
                              showAddButton="false">
                <ng-template #filter let-value let-filter="filterCallback">
                  <p-select [options]="allUsers()" (onChange)="filter($event.value)"
                            optionLabel="fullName" optionValue="username"
                            [ngModel]="value"
                            placeholder="Select One" [showClear]="true" class="w-full md:w-56" />
                </ng-template>
              </p-columnFilter>
            </div>
          </th>
          <th style="width:12%">Actions</th>
        </tr>
      </ng-template>
      <ng-template #body let-feature>
        <tr>
          <td>
            {{ feature.code }}
          </td>
          <td>{{ feature.title }}</td>
          <td>{{ feature.status }}</td>
          <td>{{ feature.releaseCode }}</td>
          <td>{{ feature.assignedTo }}</td>
          <td>
            <div class="flex flex-wrap gap-2">
              <p-button size="small" icon="pi pi-pencil"
                        *ngIf="authService.isLoggedIn()"
                        (onClick)="editFeature(feature)"/>
              <a routerLink="/products/{{productCode()}}/features/{{feature.code}}"
              ><p-button size="small" icon="pi pi-search"/></a>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>

  <p-card class="p-5" *ngIf="showCreateFeatureForm">
    <form [formGroup]="createFeatureForm" id="createFeatureForm" method="post"
          (ngSubmit)="handleCreateFeature()">
      <div class="card flex flex-col gap-4">
        <div class="font-semibold text-xl">Create Feature</div>
        <div class="flex flex-col gap-2">
          <label for="code">Code</label>
          <input pInputText id="code" type="text" formControlName="code"/>
        </div>
        <div class="flex flex-col gap-2">
          <label for="title">Title</label>
          <input pInputText id="title" type="text" formControlName="title"/>
        </div>
        <div class="flex flex-col gap-2">
          <label for="description">Description</label>
          <input pInputText id="description" type="text" formControlName="description"/>
        </div>
        <div class="flex flex-col gap-2">
          <label for="releaseCode">Release</label>
          <p-select id="releaseCode" formControlName="releaseCode" [options]="releases()"
                    optionLabel="code" optionValue="code" class="w-full md:w-56" />
        </div>
        <div class="flex flex-col gap-2">
          <label for="assignedTo">Assigned To</label>
          <p-select id="assignedTo" formControlName="assignedTo" [options]="allUsers()"
                    optionLabel="fullName" optionValue="username" class="w-full md:w-56" />
        </div>
        <div class="flex flex-row gap-2">
          <p-button label="Submit" [fluid]="false" type="submit"
                    [disabled]="createFeatureForm.invalid"/>
          <p-button label="Cancel" [fluid]="false" severity="secondary"
                    (onClick)="hideAllForms()"/>
        </div>
      </div>
    </form>

  </p-card>

  <p-card class="p-5" *ngIf="showEditFeatureForm">
    <form [formGroup]="editFeatureForm" id="editFeatureForm" method="post" (ngSubmit)="handleUpdateFeature()">
      <div class="card flex flex-col gap-4">
        <div class="font-semibold text-xl">Edit Feature</div>
        <div class="flex flex-col gap-2">
          <label for="code">Code</label>
          <input pInputText id="code" type="text" formControlName="code" readonly/>
        </div>
        <div class="flex flex-col gap-2">
          <label for="title">Title</label>
          <input pInputText id="title" type="text" formControlName="title"/>
        </div>
        <div class="flex flex-col gap-2">
          <label for="description">Description</label>
          <input pInputText id="description" type="text" formControlName="description"/>
        </div>
        <div class="flex flex-col gap-2">
          <label for="status">Status</label>
          <p-select id="status" formControlName="status" [options]="featureStatuses"
                    optionLabel="label" optionValue="value" class="w-full md:w-56" />
        </div>
        <div class="flex flex-col gap-2">
          <label for="releaseCode">Release</label>
          <p-select id="releaseCode" formControlName="releaseCode" [options]="releases()"
                    optionLabel="code" optionValue="code" class="w-full md:w-56" />
        </div>
        <div class="flex flex-col gap-2">
          <label for="assignedTo">Assigned To</label>
          <p-select id="assignedTo" formControlName="assignedTo" [options]="allUsers()"
                    optionLabel="fullName" optionValue="username" class="w-full md:w-56" />
        </div>
        <div class="flex flex-row gap-2">
          <p-button label="Submit" [fluid]="false" type="submit"
                    [disabled]="editFeatureForm.invalid"/>
          <p-button label="Cancel" [fluid]="false" severity="secondary"
                    (onClick)="hideAllForms()"/>
        </div>
      </div>
    </form>
  </p-card>

</div>
